[submodule "noetic-slam"]
	path = noetic-slam
	url = https://github.com/M2-TE/noetic-slam.git
	branch = feature/annikaul-researchproject

[submodule "hyperspace"]
	path = hyperspace
	url = https://gitlab.informatik.uni-osnabrueck.de/hyperspace/hyperspace.git
	branch = feature/akaul-researchproject
[submodule "chadbench"]
	path = chadbench
	url = https://github.com/annikaul/chadbench.git
